/* Sidebar lien actif */
.sidebar-menu li.active > a.nav-link {
  background-color: #1e3a8a; /* bleu foncé */
  color: #fff;
  font-weight: 600;
}

.sidebar-menu li.active > a.nav-link i {
  color: #fff;
}

/* Dropdown ouvert actif */
.sidebar-menu li.dropdown.active > a.nav-link {
  background-color: #1e3a8a;
  color: #fff;
}

.sidebar-menu li.dropdown.active > a.nav-link i {
  color: #fff;
}

/* Hover */
.sidebar-menu a.nav-link:hover {
  background-color: #3b82f6;
  color: #fff;
}

.sidebar-menu a.nav-link:hover i {
  color: #fff;
}

/* Déconnexion */
.logout-link {
  display: flex;
  align-items: center;
  color: #f03e3e; /* rouge */
  font-weight: 500;
}

.logout-link i {
  margin-right: 10px;
}
